name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'  # Sadece v1.0.0 gibi bir etiketleme yapıldığında çalışır

jobs:
  build-and-publish:
    permissions:
      contents: read
      id-token: write  # OIDC token için gerekli izin

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build and Pack
      run: dotnet pack --configuration Release --no-restore --output ./nupkg

    - name: NuGet Login (Trusted Publishing)
      uses: NuGet/login@v1
      id: login
      with:
        # NuGet.org kullanıcı adınızı bir GitHub Secret olarak NUGET_USER adıyla saklayın.
        user: ${{ secrets.NUGET_USER }}

    - name: Push to NuGet.org
      run: |
        Get-ChildItem ./nupkg -Filter *.nupkg | ForEach-Object {
          dotnet nuget push $_.FullName `
            --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" `
            --source https://api.nuget.org/v3/index.json
        }
