name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'  # Sadece v1.0.0 gibi bir etiketleme yapıldığında çalışır

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build and Pack
      run: dotnet pack --configuration Release --no-restore --output ./nupkg

    - name: Push to NuGet.org
      run: |
        dotnet nuget push "./nupkg/*.nupkg" \
          --api-key ${{ secrets.NUGET_API_KEY }} \
          --source https://api.nuget.org/v3/index.json \
          --skip-duplicate
